body {
  background-color: aliceblue;
  font-family: "Sedan", serif;
}

.main-card {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
  width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
#enter-city {
  font-size: 18px;
  background-color: rgb(187, 187, 187);
  padding: 15px 20px;
  width: 75%;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}
#search-city {
  font-size: 18px;
  background-color: rgb(88, 86, 86);
  color: white;
  padding: 15px 30px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
}
header {
  border-bottom: 1px solid grey;
  padding: 0 0 30px 0;
}
#h1-h2 {
  display: flex;
  justify-content: space-between;
  max-height: 55px;
  margin-bottom: 30px;
}
h1 {
  font-size: 40px;
}
h2 {
  position: relative;
  display: flex;
  top: 10px;
  right: 60px;
  font-size: 30px;
  font-style: italic;
  font-weight: 100;
}
#date-current-weather {
  display: flex;
  justify-content: space-between;
  max-height: 75px;
}
#weather-info {
  display: flex;
  margin-right: 60px;
}
.icon {
  font-size: 35px;
  margin-right: 10px;
}
.temperature {
  font-size: 80px;
  margin-top: -30px;
}
.unit {
  font-size: 20px;
}
#extra-info {
  font-style: italic;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0px;
  margin: 20px 0;
}
footer {
  text-align: center;
}
